<cdk-virtual-scroll-viewport 
  class="wrapper"
  [itemSize]="10"
  #scrollViewport
>
  <table>
    <thead>
      <tr mat-header-row>
        <th *ngFor="let column of columns" [style.top]="inverseOfTranslation">
          <app-table-header
            [value]="column"
            [tableIndex]="id"
          ></app-table-header>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *cdkVirtualFor="let row of showDataShunk; trackBy: trackByFn">
        <td *ngFor="let column of columns">
          {{ row[column.column] }}
        </td>
      </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>