<div class="wrapper" infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollUpDistance]="0.5" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" (scrolledUp)="onScrollUp()"
[scrollWindow]="false">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          <app-table-header
            [value]="column"
            [tableIndex]="id"
          ></app-table-header>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of showDataShunk; trackBy: trackByFn">
        <td *ngFor="let column of columns">
          {{ row[column.column] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
