.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.table {
  height: 60%;
  width: 60%;
  margin: auto;
  -webkit-box-shadow: 2px 0px 53px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 0px 53px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 0px 53px 0px rgba(34, 60, 80, 0.2);
}
