<div class="wrapper">
  <div class="input">
    <span class="p-input-icon-left">
      <input
        type="text"
        class="p-inputtext-sm"
        [(ngModel)]="filterInput"
        placeholder="Фильтр"
        pInputText
        (ngModelChange)="onInput()"
      />
    </span>
  </div>

  <cdk-virtual-scroll-viewport itemSize="30" class="values">
    <div *cdkVirtualFor="let value of dataShunkToShow; let i = index" class="value">
      <div class="checkbox">
        <p-checkbox
          name="groupname"
          value="{{ value[column.column] }}"
          inputId="i"
          [(ngModel)]="selectedValues"
          (ngModelChange)="onSelectValue()"
        ></p-checkbox>
      </div>
      <div class="label">
        {{ value[column.column] }}
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

  <div class="clear-filters">
    <div class="label" (click)="onClearClick()">
      Сбросить
    </div>
  </div>

</div>
